*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;


}

body{
    background-color: #1e1a1a;
}
.aniemation{
    background-color: brown;
    width: 100%;
}
.bg{
    width: 1500px;
    position: relative;
}
.bg img{
    width: 100%;
}
.car{
width: 100px;
height: 50px;
position: absolute;
bottom: 25%;
/* left: -10%; */
animation-name: car;
animation-duration:4s;
animation-timing-function: linear;
animation-iteration-count: infinite
}
@keyframes car {
    0%{
        left: -15%;
    }
      100%{
        bottom: 15%;
        left: 115%;
    }
}












