*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body{

    background-color: gray;
    justify-content: space-around;
    align-items: center;
}
.parent{
    width: 30%;
    justify-content: space-between;
}
.cards{
    display:flex;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    height:  300px;
    margin: auto;
    background-color: #ffffff;
    padding-top: 17.5%;
    padding-bottom: 2%;
    margin-left: 10%;
    
    margin-top: 10%;
    text-align: center;
    position: relative; 
     transition: ease-in.3S;
 
    }
    .pic{
        width: 100%;
        height:  100%;
        position: absolute;
        top: 0;
            z-index: 1;
 transition: all 0.2S;
 

}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.5; */
}
.parent:hover .pic{
    transform: translateX(-60px) translateY(-60px);
    /* transform:  */
}
/*   */

.parent:hover .text {
    transform: translateX(30px) translateY(30px);
}
















